[submodule "plugins/redmine_backlogs"]
	path = plugins/redmine_backlogs
	url = git://github.com/spesnova/redmine_backlogs.git
[submodule "plugins/redmine_redcarpet_formatter"]
	path = plugins/redmine_redcarpet_formatter
	url = git://github.com/alminium/redmine_redcarpet_formatter.git
