[submodule "plugins/redmine_backlogs"]
	path = plugins/redmine_backlogs
	url = git://github.com/backlogs/redmine_backlogs.git
[submodule "public/themes/gitmike"]
	path = public/themes/gitmike
	url = git://github.com/makotokw/redmine-theme-gitmike.git
[submodule "plugins/redmine_redcarpet_formatter"]
	path = plugins/redmine_redcarpet_formatter
	url = git://github.com/alminium/redmine_redcarpet_formatter.git
[submodule "plugins/redmine_local_avatars"]
	path = plugins/redmine_local_avatars
	url = git://github.com/ncoders/redmine_local_avatars.git
