[submodule "plugins/redmine_backlogs"]
	path = plugins/redmine_backlogs
	url = git://github.com/spesnova/redmine_backlogs.git
[submodule "plugins/redmine_redcarpet_formatter"]
	path = plugins/redmine_redcarpet_formatter
	url = git://github.com/alminium/redmine_redcarpet_formatter.git
[submodule "plugins/redmine_local_avatars"]
	path = plugins/redmine_local_avatars
	url = git://github.com/ncoders/redmine_local_avatars.git
[submodule "plugins/clipboard_image_paste"]
	path = plugins/clipboard_image_paste
	url = git://github.com/peclik/clipboard_image_paste.git
